@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 400;
  src: local('Inknut Antiqua Regular'), local('InknutAntiqua-Regular'), url(https://fonts.gstatic.com/s/inknutantiqua/v3/VlmmTfOrxr3HfcnhMueX9aeO3wbbq8mdDcGxwxDM3wA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face {
  font-family: 'Inknut Antiqua';
  font-style: normal;
  font-weight: 700;
  src: local('Inknut Antiqua Bold'), local('InknutAntiqua-Bold'), url(https://fonts.gstatic.com/s/inknutantiqua/v3/CagoW52rBcslcXzHh6tVIsjCRL9_sh8fifAgw5EsvS8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face {
  font-family: 'Assistant';
  font-style: normal;
  font-weight: 300;
  src: local('Assistant Light'), local('Assistant-Light'), url(https://fonts.gstatic.com/s/assistant/v2/vPC3tCw3LOzCSeGCtVp5Whampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face {
  font-family: 'Spinnaker';
  font-style: normal;
  font-weight: 400;
  src: local('Spinnaker'), local('Spinnaker-Regular'), url(https://fonts.gstatic.com/s/spinnaker/v9/WxzDAY6mC9v3znSJEtCoW5Bw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN7rgOUuhpKKSTjw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
div{margin:0;padding:0;}
html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
body {
    margin: 0;
    width: 100%;
    padding: 0;
}
*,*::before,*::after{box-sizing:inherit;}
a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
    color: #777777;
    -moz-osx-font-smoothing:grayscale
}
a {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
ol, ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 2.5;
    font-weight: 400;
    color: #7e8890;
    margin: 0;
    padding: 0;
    list-style: none;
    -moz-osx-font-smoothing:grayscale
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Spinnaker', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: #1d2123;
    -moz-osx-font-smoothing:grayscale
}
h1 {
    font-family: 'Inknut Antiqua', serif;   
}
h2 {
    font-size: 24px;
    margin: 0 auto;
    text-transform: uppercase;
    letter-spacing: 1px;
}
div, p {
    margin: 0;
    padding: 0;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    color: #7e8890;
    margin: 0;
    padding: 0;
    letter-spacing: 0.5px;
    -moz-osx-font-smoothing:grayscale
}
a:link, a:visited {
    color: #48d9be;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}
a:hover, a:active {
    color: #2e456b;
    text-decoration: none;
    outline: 0;
    cursor: pointer;
}
img {
    border: medium none;
}
.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.btn {
color: #fff;
    background: #35bba3;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 30px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    letter-spacing: 2px;
}
.btn:hover, .btn:focus, .btn:active {
    color: #3bd4b8;
    background: #000;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #3bd4b8;
}
.button {
    background: none;
    border-radius: 2px;
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: block;
    height: 52px;
    letter-spacing: 2px;
    margin: 50px;
    overflow: hidden;
    padding: 15px 35px;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    position: relative;
    text-align: center;
    transition: all 0.5s ease-in;
    /*  width: 220px;*/
    border: 2px solid #35bba3;
    -moz-osx-font-smoothing:grayscale
}
#icon {
  opacity: 0;
  position: absolute;
  transition: all 0.5s ease;
    color: #fff;
      top: 18px;
  right: -30px;
}
.button:hover {
    color: #fff;
    background-color: #35bba3;
    padding: 15px 45px 15px 25px;
    transition: all 0.5s ease-in;
}
.button:hover #icon {
  opacity: 1;
  top: 18px;
  right: 20px;
    color: #fff;
}
.row {
    max-width: 1200px;
    margin: 0 auto;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.col {
    width: 30%;
}
.col:nth-child(2) {
    width: 70%;
}

/*--Header--*/
header {
  background: #000;
  width: 100%;
  z-index: 9;
}
header .right-bar {
  position: relative;
}
header .main-menu {
  display: flex;
  align-items: center;
  display: none;
}
header .mobile-menu {
  display: inherit!important;
    z-index: 100;
}
header .main-menu a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 10px;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Spinnaker', sans-serif;
}
header .main-menu a:hover {
  color: #00ff8c;
}
.sticky-header {
  padding: 15px 0;
}
.is-sticky .sticky-header {
  background: rgba(0,0,0,.85);
}
header .logo {
    font-family: 'Inknut Antiqua', serif;
    font-size: 24px;
    line-height: 1.3;
}
header .logo a {
    color: #fff!important;
}
.navigation-bar-desk {
    display: block;
}
.header-social {
  margin-left: 20px;
}
.header-social a {
  margin: 0 5px;
  padding: 0 5px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}
.header-social a:hover {
  color: #48d9be;
}
.d-flex{display:flex!important;}
.align-items-center{align-items:center!important;}
.default-header .right-bar{position:relative;}
.default-header nav .main-menu{display:-webkit-box;display:-webkit-flex;display:-moz-flex;display:-ms-flexbox;display:flex;-webkit-box-align:center;-ms-flex-align:center;-webkit-align-items:center;-moz-align-items:center;align-items:center;}
.default-header nav .main-menu a{display:inline-block;color:rgba(255, 255, 255, 0.5);margin:0 20px;text-transform:uppercase;font-size:12px;}
.default-header nav .main-menu a:hover{color:#00ff8c;}
.header-social{margin-left:20px;}
.header-social a{margin:0 5px;padding:0 5px;display:inline-block;color:rgba(255, 255, 255, 0.5);}
.header-social a:hover{color:#48d9be;}
.lnr{font-family:'Linearicons-Free';/* speak:none; */font-style:normal;font-weight:normal;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.lnr-menu:before{content:"\e871";}
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}

.current{
   color: rgba(255, 255, 255, 0.9)!important;
}

/*--Hero--*/
#hero {
    text-align: center;
    margin: 0 auto;
    padding: 30px 0 60px;
    z-index: 1;
    background-color: #48d9be;
}
#crescent-hire #hero {
    background-color: #fdd900;
}
#asp #hero {
    background-color: #00a986;
}
#geolocation #hero {
    background-color: #00a3fa;
}
#potluckkeywords #hero {
    background-color: #883bec;
}
#yellwebsites #hero {
    background-color: #fcda06;
}
#datingwebsites #hero {
    background-color: #59ABE3;
}
#datingwebsites #row2 li {
    list-style-type: disc;
    list-style-position: inside;
}
#gym-pad #hero {
    background-color: #2c1f71;
}
#about #hero {
    background-color: #48d9be;
}
#row2 .link {
    font-weight: bold;
    color: #000;
}
#row2 .link:hover {
    color: #48d9be;
}
#hero .wrap {
    margin: 0;
    display: block;
    position: relative;
    z-index: 1;
}
#hero h1 {
    color: #000;
    font-size: 48px;
    text-align: left;
    margin-bottom: 10px;
    text-transform: none;
}

#asp #hero h1,
#gym-pad #hero h1,
#potluckkeywords #hero h1 {
    color: #fff;
}

#crescent-hire #hero h1 {
    color: #000;
}
#yellwebsites #hero h1 {
    color: #000;
}

#hero h2 {
    font-size: 18px;
    font-family: 'Open Sans', serif;
    color: #000;
    font-weight: 400;
    margin: 0;
    text-align: left;
    max-width: 960px;
    text-transform: none;
}

#asp #hero h2,
#gym-pad #hero h2,
#potluckkeywords #hero h2 {
    color: #fff;
}
/* #crescent-hire #hero h2 {
    color: #000;
}
#webdesign #hero h2 {
    color: #000;
}
#yellwebsites #hero h2 {
    color: #000;
} */
#yellwebsites .portfolio {
    border: #7e8890 1px solid;
        -webkit-border-radius: 3px;
    border-radius: 3px;
}
#about h3:nth-child(3), #about h3:nth-child(5) {
    margin-top: 15px;
}

#row1 {
    background: #E0E0E0;
    padding: 30px 0;
}
#row2 {
    background: #fff;
    padding: 50px 0;
}
#row2 .row {
    padding: 15px 0;
}
#row2 .row:first-child {
    padding: 0 0 15px;
}
#row2 .row:last-child {
    padding: 15px 0;
}
#row2 img {
    display: block;
    width: 100%;
    height: auto;
    margin: 30px 0 0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#about #row3 {
    background: #ECEFF1;
    padding: 50px 0;
}
#about #row3 h2 {
    width: 100%;
    margin-bottom: 15px;
}
#about .facts strong {
	font-family: 'Inknut Antiqua', serif;
	font-size: 35px;
	float: left;
	margin-right: 15px;
    height: 100%;
}
#about .facts .col {
    width: 30%;
}
#about .facts p {
    margin-bottom: 0;
}
#about .facts p a, #about .facts p a:focus, #about .facts p a:active {
    color: #000;
}
#about .facts p a:hover {
    color: #48d9be;
}
#about #books {
    padding: 50px 0;
}
#about #books h2 {
    width: 100%;
    margin-bottom: 15px;
}
#about #books p {
    width: 100%;
    margin-bottom: 30px;
}
#about #books h3 {
	font-size: 18px;
    margin-top: 15px;
    display: none;
}
/* #about #books .col {
    width: 13%;
} */
#about #books .cover {
    background: grey;
 
}
#about #books .cover img {
    max-width: 100%;
    height: auto;
 
}
#about #books .button--link {
    display: flex;
    color: black;
    background: #ECEFF1;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    transition: 0.3s all ease;
}
#about #books .button--link:hover {
    background: #bdc0c2;
}


/*--Portfolio--*/
#portfolio {
    background-color: #f7f7f7;
    padding: 100px 0;
}
#portfolio .row {
    max-width: 1200px;
}
.portfolio--three .col {
    width: 32%;
}
.portfolio--four .col {
    width: 23.5%;
}
#portfolio *, #portfolio *:hover {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#portfolio .wrap {
    background: #fff;
    -webkit-border-radius: 0 0 3px;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    padding: 25px 25px 40px;
    margin-bottom: 35px;
    -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
}
#portfolio a:hover .wrap {
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
#portfolio .cover {
    height: 140px;
    position: relative;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
#portfolio a:hover .cover {
    background-size: 120%;
    overflow: hidden;
}
#portfolio .dark-overlay {
    background: rgba(0,0,0,.7);
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}
#portfolio a:hover .dark-overlay {
    opacity: 1;
}
#portfolio .cover p {
    opacity: 0;
    color: #fff;
    padding: 25px;
    position: absolute;
    z-index: 30;
}
#portfolio a:hover .cover p {
    opacity: 1;

}
#portfolio .work1 {
    background: url(../img/work1.jpg) no-repeat center / 100%;
}
#portfolio .work2 {
    background: url(../img/work2.jpg) no-repeat center / 100%;
}
#portfolio .work3 {
    background: url(../img/work3.jpg) no-repeat center / 100%;
}
#portfolio .work4 {
    background: url(../img/work4.jpg) no-repeat center / 100%;
}
#portfolio .work5 {
    background: url(../img/work2.jpg) no-repeat center / 100%;
}
#portfolio .work6 {
    background: url(../img/work6.jpg) no-repeat center / 100%;
}
#portfolio .work7 {
    background: url(../img/work7.jpg) no-repeat center / 100%;
}
#portfolio .work8 {
    background: url(../img/work8.jpg) no-repeat center / 100%;
}
#portfolio h2 {
    margin-bottom: 30px;
}
#portfolio a:hover h3 {
    color: #3bd4b8;
}
#portfolio .wrap h3 {
    font-size: 18px;
    text-align: left;
    width: 100%;
     margin: 0;
}
#portfolio .wrap h4 {
    color: #7e8890;
    margin: 0 0 15px;
}
#portfolio p a:link, #portfolio p a:visited {
    color: #000;
    font-weight: bold;
}
#portfolio p a:hover {
    color: #37a691;
}

/*--Contact--*/
#contact {
   background: #1d2123;
   padding: 100px 0;
}
#contact .col {
    width: 47%;
}
#contact h2 {
    color: #fff;
    margin-bottom: 10px;
}
#contact p {
    color: #fff;
}
#contact .button {
    background: #1d2123;
    color: #fff;
    margin: 30px 0 0;
    display: block;
    white-space: nowrap;
}
#contact .button:hover {
    color: #fff;
    background-color: #35bba3;
    padding: 15px 45px 15px 25px;
    transition: all 0.5s ease-in;
}
#contact .contact-img {
    background: url(../img/contact.jpg) no-repeat center / cover;
    height: 100%;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#contact .wrapper { 
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
#contact .wrapper a:nth-child(2) { 
    margin-left: 10px;
}

/*--Footer--*/
footer {
    background: #000;
    margin: 0;
    padding: 40px 0;
}
footer .container {
    align-items: center;
}
footer a:link, a:visited {
    font-size: 18px;
    color: #fff;
}
footer a:hover, a:active {
    color: #48d9be;
}
.col.footer-social {
    width: 205px;
}
.footer-social a {
  margin: 0 5px;
  padding: 0 5px;
  display: inline-block;
  color: rgba(255, 255, 255, 0.5);
}
.footer-social a:hover {
  color: #48d9be;
}
footer #scrolltotop {
    margin: 0;
    -webkit-transition: all 200ms ease-in-out 100ms;
    -moz-transition: all 200ms ease-in-out 100ms;
    -ms-transition: all 200ms ease-in-out 100ms;
    -o-transition: all 200ms ease-in-out 100ms;
    transition: all 200ms ease-in-out 100ms;
}
#scrolltotop .fa-chevron-circle-up {
    margin-left: 10px;
}


/*---------------MEDIA QUERIES---------------*/
@media print{
    *,*::before,*::after{text-shadow:none!important;box-shadow:none!important;}
    a,a:visited{text-decoration:underline;}
}

@media screen and (max-width: 1400px) {
}
@media screen and (max-width: 1366px) {
}
/* Large devices (large desktops, 1200px and up) */
@media screen and (max-width: 1220px) {
    .row {
        padding-right: 20px!important;
        padding-left: 20px!important;
    }
}
@media screen and (max-width: 1127px) {
    #contact .wrapper {
        flex-direction: column;
    }    #contact .wrapper a:nth-child(2) {
        margin-left: 0;
    }
}
@media screen and (max-width: 1000px) {
    #about .facts .col {
        width: 100%;
        padding: 10px 0;
    }
    #about .facts strong {
        line-height: .8;
    }
}
/* Medium devices Desktops */
@media screen and (max-width: 991px) {
    .default-header nav .main-menu a{margin:0 5px;}
    #theory, #portfolio, #contact {
        padding: 50px 0;
    }
    .default-header nav .main-menu a {
        margin: 0 5px;
      }
    h2 {
        font-size: 24px;
        line-height: 32px;
    }
    #hero {
        padding: 40px 0;
    }
    #hero h1 {
        font-size: 32px;
    }
    #about .col {
        width: 33%;
    }
    #about .col:nth-child(2) {
        width: 63%;
    }
    #theory .process h2 {
        position: absolute;
        top: 180px;
        left: -180px;
        width: auto;
        -moz-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        transform: rotate(-90deg);
        background: #000;
        color: #fff;
        padding: 10px 50px;
    }
    #theory .flex-wrap {
        max-width: 550px;
    }
    #theory .pod {
        width: 27%;
    }
    #theory img {
        width: 75px;
    }
    #portfolio .col {
        width: 49%;
    }
    
    footer p {
        font-size: 11px;
    }
    .list-inline > li {
        padding-right: 0;
        padding-left: 6px;
    }
    footer .btn {
        padding: 5px;
    }
}
@media screen and (max-width: 767px) {
    .col {
        width: 100%;
    }
    .col:nth-child(2) {
        width: 100%;
    }
    #about .col {
        width: 100%;
    }
    #about .col:nth-child(2) {
        width: 100%;
    }
    .default-header nav .main-menu{display:none;}
/*
    #top .align-items-center {
        align-items: flex-start!important;
    }
*/
    .default-header .main-menu{-webkit-box-direction:normal;-webkit-box-orient:vertical;-webkit-flex-direction:column;-moz-flex-direction:column;-ms-flex-direction:column;flex-direction:column;position:absolute;top:40px;right:0;background:#4a4fad;padding:30px 20px;}
    .default-header .main-menu a{margin:5px 20px!important;}
    .default-header .mobile-btn{display:block!important;font-size:36px!important;position:absolute;top:0;right:0;}
    .default-header .main-menu {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        position: absolute;
        top: 40px;
        right: 0;
        background: #4a4fad;
        padding: 30px 20px;
      }
    
      .default-header .main-menu a {
        margin: 5px 20px !important;
      }
     .default-header nav .main-menu {
        display: none;
      }
    .default-header nav .main-menu{display:none;}
    #portfolio .col {
        margin: 0 0 20px;
    }
    #portfolio .wrap {
        margin: 0;
    }
}
@media screen and (max-width: 650px) {
}
@media screen and (max-width: 570px) {
    #hero {
        padding: 70px 0;
    }
    .header-social {
        display: none !important;
    }
    .main-menu {
        margin: 0;
        background: #000;
        position: absolute;
        right: -20px;
        top: 35px;
        padding: 0px 20px 0 20px;
        text-align: right;
        flex-direction: column;
        align-items: end !important;
    }
    .main-menu li {
        padding: 0 0 20px;
    }
    #portfolio .col {
        width: 100%;
    }
    #contact .container {
        flex-direction: column-reverse;
    }
    #contact .col {
        width: 100%;
    }
    #contact  .contact-img {
        height: 180px;
        margin-bottom: 25px;
    }
}
@media screen and (max-width: 520px) {
    #hero h1 {
        padding-top: 10px;
        font-size: 20px;
        line-height: 26px;
    }
}
@media screen and (max-width: 470px) {
    .list-inline > li {
        display: block;
        padding: 15px;
    }
    #portfolio .work1,
    #portfolio .work2,
    #portfolio .work3,
    #portfolio .work4 {
        background-size: cover;
    }
    #theory .skills .col {
        width: 100%;
    }
    
}
@media screen and (max-width: 430px) {
    #top .logo {
        font-size: 18px;
    }
}
/*iPhone 6 Plus*/
@media screen and (max-width: 414px) {
    footer .col {
        width: 100%;
    }
    footer #scrolltotop {
        margin: 35px auto;
        padding: 0;
        width: 120px;
    }
    footer ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        max-width: 260px;
        margin: 0 auto;
    }
}
@media screen and (max-width:350px) {
}